<div class="row">
    <div class="col-sm-3">
        <app-administrador-menu></app-administrador-menu>
    </div>
    <div class="col-sm-9">
        <div class="card content-box">
            <div class="card-body">
                <h3>Gestionar Usuarios</h3>
                <br>
                <div class="row justify-content-end">
                  <div class="form-group col-sm-4">
                    <div class="card WidgesAs">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col">
                            <!-- Title -->
                            <h6 class="text-uppercase text-muted mb-2">
                              Total Aspirante
                            </h6>
                            <!-- Heading -->
                            <span class="h2 mb-0">
                            </span>
                
                          </div>
                          <div class="col-auto">
                            <!-- Icon -->
                            <span class="h2 fe fe-briefcase text-muted mb-0">
                                <i class="fas fa-users"></i>
                            </span>
                          </div>
                        </div> <!-- / .row -->
                      </div>
                    </div>
                
                  </div>
                  <div class="form-group col-sm-4">
                    <div class="card Widges">
                      <div class="card-body">
                        <div class="row align-items-center">
                          <div class="col">
                            <!-- Title -->
                            <h6 class="text-uppercase text-muted mb-2">
                              Total Empresas
                            </h6>
                            <!-- Heading -->
                            <span class="h2 mb-0">
                            </span>
                
                          </div>
                          <div class="col-auto">
                            <!-- Icon -->
                            <span class="h2 fe fe-briefcase text-muted mb-0">
                                <i class="far fa-building"></i>
                            </span>
                          </div>
                        </div> <!-- / .row -->
                      </div>
                    </div>
                
                  </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-1">
                        <label  class="form-label">Filtrar:</label>
                    </div>
                    <div class="form-group col-md-4">
                        <select name="diponibilidadViajar"  [(ngModel)]="searchText" class="form-control">
                            <option style="display: none;">Seleccione una opción...</option>
                            <option value="1">Administrador</option>
                            <option value="2">Empresa</option>
                            <option value="3">Aspirante</option>
                        </select>
                      </div>
                </div>
                <hr>
                <div class="row">
                    <div class="card-body">
                        <h4>Listado de Usuarios del sistema</h4>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Tipo Usuario</th>
                                    <th>Correo</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of usuarios|filtroUsuario:searchText;; index as i">
                                    <td>{{item.usuarioId}}</td>
                                    <td *ngIf="item.tipoUsuario == 3">Aspirante</td>
                                    <td *ngIf="item.tipoUsuario == 2">Empresa</td>
                                    <td *ngIf="item.tipoUsuario == 1">Administrador</td>
                                    <td>{{item.correo}}</td>
                                    <td *ngIf="item.estado == 1">Activo</td>
                                    <td *ngIf="item.estado == 0">Inactivo</td>
                                    <td>
                                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#verdetalle"><i
                                                class="fas fa-pencil-alt"></i></button>
                                        <button class="btn btn-danger btn-sm"><i class="fas fa-ban"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>