<div class="row">
    <div class="col-sm-3">
        <app-aspirante-menu></app-aspirante-menu>
    </div>
    <div class="col-sm-9">
        <div class="card content-box">
            <div class="card-body">
                    <h4> <i class="fas fa-user-tie fa-lg"></i>  INFORMACIÓN BÁSICA</h4>  
                <hr>
                <form class="row">
                    <div class="form-group col-sm-6">
                        <label>Nombres</label>
                        <input  name="nombres" [(ngModel)]="aspirante.nombres" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Apellidos</label>
                        <input  name="apellidos" [(ngModel)]="aspirante.apellidos" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Título profesional</label>
                        <input  name="tituloProfesional" [(ngModel)]="aspirante.tituloProfesional" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Correo electrónico</label>
                        <input name="correo" [(ngModel)]="aspirante.correo" type="email" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Teléfono</label>
                        <input  name="telefono" [(ngModel)]="aspirante.telefono" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Genero</label>
                        <select name="genero" [(ngModel)]="aspirante.genero"  class="form-control">
                            <option value="" style="display: none;">Opciones...</option>
                            <option value="F">Femenino</option>
                            <option value="M">Masculino</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Estado Civil</label>
                        <select name="estadoCivil" [(ngModel)]="aspirante.estadoCivil" class="form-control">
                            <option value="" style="display: none;">Opciones...</option>
                            <option value="Soltero">Soltero(a)</option>
                            <option value="Casado">Casado(a)</option>
                            <option value="Viudo">Viudo(a)</option>
                            <option value="Separado">Separado(a)</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Ciudad</label> 
                        <select name="ciudad" [(ngModel)]="aspirante.ciudad" class="form-control">
                            <option value="" style="display: none;">Opciones...</option>
                            <option value="Arauca">Arauca</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Barranquilla">Barranquilla</option>
                            <option value="Bogotá">Bogotá</option>
                            <option value="Bucaramanga">Bucaramanga</option>
                            <option value="Cali">Cali</option>
                            <option value="Cartagena">Cartagena</option>
                            <option value="Cúcuta">Cúcuta</option>
                            <option value="Florencia">Florencia</option>
                            <option value="Ibagué">Ibagué</option>
                            <option value="Leticia">Leticia</option>
                            <option value="Manizales">Manizales</option>
                            <option value="Medellín">Medellín</option>
                            <option value="Mitú">Mitú</option>
                            <option value="Mocoa">Mocoa</option>
                            <option value="Montería">Montería</option>
                            <option value="Neiva">Neiva</option>
                            <option value="Pasto">Pasto</option>
                            <option value="Pereira">Pereira</option>
                            <option value="Popayán">Popayán</option>
                            <option value="Puerto Carreño">Puerto Carreño</option>
                            <option value="Puerto Inírida">Puerto Inírida</option>
                            <option value="Quibdó">Quibdó</option>
                            <option value="Riohacha">Riohacha</option>
                            <option value="San Andrés">San Andrés</option>
                            <option value="San José del Guaviare">San José del Guaviare</option>
                            <option value="Santa Marta">Santa Marta</option>
                            <option value="Sincelejo">Sincelejo</option>
                            <option value="Tunja">Tunja</option>
                            <option value="Valledupar">Valledupar</option>
                            <option value="Villavicencio">Villavicencio</option>
                            <option value="Yopal">Yopal</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Edad</label>
                        <input name="edad" [(ngModel)]="aspirante.edad" type="text" class="form-control" placeholder="">
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Salario que aspira</label>
                        <input name="salario" [(ngModel)]="aspirante.salario" type="number" class="form-control" placeholder="$">
                    </div>            
                    <div class="form-group col-sm-6">
                        <label>Disponibilida para viajar </label>
                        <select name="diponibilidadViajar" [(ngModel)]="aspirante.diponibilidadViajar" class="form-control">
                            <option style="display: none;">Seleccione una opción...</option>
                            <option value=" No">No</option>
                            <option value="Si">Si</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Disponibilida cambio de residencia : </label>
                        <select  name="disponibilidadCambioResidendia" [(ngModel)]="aspirante.disponibilidadCambioResidendia" class="form-control">
                            <option style="display: none;">Seleccione una opción...</option>
                            <option value=" No">No</option>
                            <option value="Si">Si</option>
                        </select>
                    </div>                    
                    <div class="form-group col-sm-12">
                        <label>Descripción</label>
                        <textarea name="descripcion" [(ngModel)]="aspirante.descripcion" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="col-sm-12">
                        <button class="btn btn-primary" (click)="actualizar()">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>