<div class="content-box">
    <ul class="menu-perfil">
        <li>
            <img src="../../../assets/images/img_avatar1.jpg" width="100%" />
            <div class="text-center">
                <h3>Eva Vides</h3>
            </div>
        </li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/gestionarAspirante']">Gestionar Aspirante</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/gestionarEmpresa']">Gestionar Empresa</a></li>
        <li><a [routerLinkActive]="['active']" [routerLink]="['/empresaCambiarContrasena']">Cambiar Contraseña</a></li>
        <li><a href="#">Cerrar sesión</a></li>
    </ul> 
</div>

