<div class="row justify-content-md-center">
    <div class="col-sm-6">
       <div class="bannerregistroA">
         <div class="cont col-sm-10 ">
           <h2>REGISTRO</h2>
           <p> Haz que tu hoja de vida sea visible para miles de empresas</p>
         </div>
       </div>
    </div>
    <div class="col-sm-4">
        <div class="content-box">
            <div class="card-body registroA">
                <h4>INFORMACIÓN PERSONAL</h4> 
                <p>Si tiene una cuenta con nosotros, inicie sesión.</p> 
            <hr>
                <form class="row">
                    <div class="form-group col-sm-4">
                        <label>Tipo de usuario</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <select name="tipoUsuario"  [(ngModel)]="tipoUsuario"class="form-control">
                            <option value="" style="display: none;">Opciones...</option>
                            <option value="Aspirante">Aspirante</option>
                            <option value="Empresa">Empresa</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-12"    *ngIf="tipoUsuario == 'Aspirante'">
                        <label>Identificacion *</label>
                        <input type="number" class="form-control" placeholder="identificacion" name="identificacion"  [(ngModel)]="identificacion">
                    </div>
                    <div class="form-group col-sm-12"*ngIf="tipoUsuario == 'Aspirante'">
                        <label>Nombres *</label>
                        <input type="text"   name="nombres" [(ngModel)]="nombres"  class="form-control" placeholder="Nombres">
                    </div>
                    <div class="form-group col-sm-12" *ngIf="tipoUsuario == 'Aspirante'">
                        <label>Apellidos *</label>
                        <input type="text"   name="apellidos" [(ngModel)]="apellidos" class="form-control" placeholder="Apellido">
                    </div>
                    <div class="form-group col-sm-12"  *ngIf="tipoUsuario == 'Empresa'">
                        <label>Nit *</label>
                        <input type="number" name="nit" [(ngModel)]="nit" class="form-control" placeholder="Nit">
                    </div>
                    <div class="form-group col-sm-12"*ngIf="tipoUsuario == 'Empresa'">
                        <label>Razon Social *</label>
                        <input type="text"  name="razonSocial" [(ngModel)]="razonSocial"class="form-control" placeholder="Razon Social">
                    </div>
                    <div class="form-group col-sm-12" >
                        <label>Correo*</label>
                        <input type="text"  name="correo" [(ngModel)]="correo" class="form-control" placeholder="correo electronico">
                    </div>
                    <div class="form-group col-sm-12" >
                        <label >Contraseña*</label>
                        <input type="password"  name="contrasena" [(ngModel)]="contrasena" class="form-control" placeholder="contraseña">
                    </div>
                    <div class="form-group col-sm-12">
                        <button type="button" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" data-dismiss="modal" (click)="RegistrarUsuario()">Registrar</button> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 
