<div class="row">
    <div class="col-sm-3">
        <app-administrador-menu></app-administrador-menu>
    </div>    
    <div class="col-sm-9">
        <div class="card content-box">
            <div class="card-body">
                <h3>Gestionar Empresa</h3>
                <hr>
                <div class="row">
                    <div class="form-group col-sm-1">
                        <label>Buscar:</label>
                    </div>
                    <div class="form-group col-sm-4">
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="row">
                        <div class="card-body">
                            <h4>Listado de Empresas</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Correo</th>
                                        <th>Telefono</th>
                                        <th>Ciudad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Diseñador web</td>
                                        <td>Lorem Ipsum es simplemente texto ficticio.</td>
                                        <td>300920391</td>
                                        <td>Medellin</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#verdetalle" ><i class="fas fa-pencil-alt"></i></button>
                                            <button class="btn btn-danger btn-sm"><i class="fas fa-ban"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Diseñador web</td>
                                        <td>Lorem Ipsum es simplemente texto ficticio.</td>
                                        <td>300920391</td>
                                        <td>Medellin</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#verdetalle" ><i class="fas fa-pencil-alt"></i></button>
                                            <button class="btn btn-danger btn-sm"><i class="fas fa-ban"></i></button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Diseñador web</td>
                                        <td>Lorem Ipsum es simplemente texto ficticio.</td>
                                        <td>300920391</td>
                                        <td>Medellin</td>
                                        <td>
                                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#verdetalle" ><i class="fas fa-pencil-alt"></i></button>
                                            <button class="btn btn-danger btn-sm"><i class="fas fa-ban"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>           
</div>